
.nav{
    position: sticky;
    top: 0;
    font-family: 'Berlin Sans FB';
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
    background-color: white;
}
img{
    width: 40px;
}
.nav-link{
    text-decoration: none;
    color: black;
}